matrix:
  include:
    - language: java
      jdk: 
        - openjdk11
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker pull openjdk:11-jre-slim-sid
      script:
        - mvn clean install
        - mvn deploy jib:build -P deploy-docker

    - language: node_js
      node_js:
        - 15.5.1
      sudo: required
      services:
          - xvfb
      addons:
        chrome: stable
      before_install:
        # starting a GUI to run tests, per https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
        - sudo apt-get install g++ build-essential
        - "export DISPLAY=:99.0"
        - "npm config set spin false"
      before_script:
        - "cd frontend/"
        - "rm -rf node_modules"
        - sudo apt-get update
        - sudo apt-get install -y libappindicator1 fonts-liberation
        - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        - sudo dpkg -i google-chrome*.deb
        - "yarn install"
        - "cd .. && cd .. && ls"
        - travis_wait 30 nohup mvn spring-boot:run &
      script: 
        - "cd .."
        - "cd frontend/"
        - "npm rebuild node-sass"
        - "nohup npm start &"
        - sleep 5
        - "npm run test"
        - "npm run wdio"
